<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Comprometidos con la excelencia</h1>
        <h3>Dedicados a brindar una asesoría jurídica integral y corretaje de propiedades.</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Quiero saber más</a>
    </div>
</header>
