<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>C&B Abogados,</h1>
        <h3 class="center-min">Damos acceso a la justicia a todas las personas. Nuestro compromiso es brindar una solución a
        sus conflictos legales y la defensa de sus derechos.</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Contáctanos y te llamaremos</a>
    </div>
</header>



<!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>¿Quiénes Somos?</h2>
                    <p class="lead">Somos un equipo de trabajo integrado por abogados jóvenes, emprendedores y con vocación de servicio formados en las aulas de la Pontificia Universidad Católica de Valparaíso.</p>
                    <p>Hoy, aspiramos a ser un agente de cambio en el ejercicio de la profesión, construyendo relaciones de confianza con nuestros clientes, procurando dar un trato cercano y soluciones que se ajusten a sus necesidades.
Conscientes del acelerado ritmo de vida y de las múltiples obligaciones a las que todos nos vemos enfrentados día a día, nuestro Estudio Jurídico ofrece un método de trabajo integral, personalizado y flexible, acorde a su situación, agenda o presupuesto. No dudes en plantearnos tu problema, nosotros somos la solución.
</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- About -->
    <section id="contact" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contáctanos</h2>
                    <p>Email: camposyballesteros@gmail.com</p>
                    <p>Teléfono: +56 9 6403 8183 / +56 9 57093596</p>
                    <p>Facebook: <a target="_blank" href="https://www.facebook.com/CamposyBallesteros/">https://www.facebook.com/CamposyBallesteros/</a></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


