<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>C&B Abogados,</h1>
        <h3 class="center-min">Damos acceso a la justicia a todas las personas. Nuestro compromiso es brindar una solución a
        sus conflictos legales y la defensa de sus derechos.</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Contáctanos y te llamaremos</a>
    </div>
</header>


<<<<<<< HEAD

<!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>¿Quiénes Somos?</h2>
                    <p class="lead">Somos un equipo de trabajo integrado por abogados jóvenes, emprendedores y con vocación de servicio formados en las aulas de la Pontificia Universidad Católica de Valparaíso.</p>
                    <p>Hoy, aspiramos a ser un agente de cambio en el ejercicio de la profesión, construyendo relaciones de confianza con nuestros clientes, procurando dar un trato cercano y soluciones que se ajusten a sus necesidades.
Conscientes del acelerado ritmo de vida y de las múltiples obligaciones a las que todos nos vemos enfrentados día a día, nuestro Estudio Jurídico ofrece un método de trabajo integral, personalizado y flexible, acorde a su situación, agenda o presupuesto. No dudes en plantearnos tu problema, nosotros somos la solución.
</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- About -->
    <section id="contact" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contáctanos</h2>
                    <p>Email: camposyballesteros@gmail.com</p>
                    <p>Teléfono: +56 9 6403 8183 / +56 9 57093596</p>
                    <p>Facebook: <a target="_blank" href="https://www.facebook.com/CamposyBallesteros/">https://www.facebook.com/CamposyBallesteros/</a></p>
=======
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>¿Quiénes Somos?</h2>
                    <p class="lead">Somos un equipo de trabajo integrado por abogados jóvenes, emprendedores y con vocación de servicio, formados en las aulas de la Pontificia Universidad Católica de Valparaíso.</p>
                    <p>Hoy, aspiramos a ser un agente de cambio en el ejercicio de la profesión, construyendo relaciones de confianza con nuestros clientes, procurando dar un trato cercano y soluciones que se ajusten a sus necesidades.</p>
                    <p>Conscientes del acelerado ritmo de vida y de las múltiples obligaciones a las que todos nos vemos enfrentados día a día, nuestro Estudio Jurídico ofrece un método de trabajo integral, personalizado y flexible, acorde a su situación, agenda o presupuesto. No dudes en plantearnos tu problema, nosotros somos la solución.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Servicios -->
    <section id="servicios" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Nuestros Servicios</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Derecho de Familia</strong>
                                </h4>
                                <ul class="text-left">
                                    <li>Divorcios</li>
                                    <li>Separación Judicial</li>
                                    <li>Nulidad del Matrimonio</li>
                                    <li>Juicios de Alimentos</li>
                                    <li>Cuidado Personal Relación Directa y Regular</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Derecho Migratorio</strong>
                                </h4>
                                <ul class="text-left">
                                    <li>Divorcios</li>
                                    <li>Separación Judicial</li>
                                    <li>Nulidad del Matrimonio</li>
                                    <li>Juicios de Alimentos</li>
                                    <li>Cuidado Personal Relación Directa y Regular</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Derecho Laboral</strong>
                                </h4>
                                <ul class="text-left">
                                    <li>Divorcios</li>
                                    <li>Separación Judicial</li>
                                    <li>Nulidad del Matrimonio</li>
                                    <li>Juicios de Alimentos</li>
                                    <li>Cuidado Personal Relación Directa y Regular</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Derecho Civil</strong>
                                </h4>
                                <ul class="text-left">
                                    <li>Divorcios</li>
                                    <li>Separación Judicial</li>
                                    <li>Nulidad del Matrimonio</li>
                                    <li>Juicios de Alimentos</li>
                                    <li>Cuidado Personal Relación Directa y Regular</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Derecho Inmobiliario</strong>
                                </h4>
                                <ul class="text-left">
                                    <li>Divorcios</li>
                                    <li>Separación Judicial</li>
                                    <li>Nulidad del Matrimonio</li>
                                    <li>Juicios de Alimentos</li>
                                    <li>Cuidado Personal Relación Directa y Regular</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Recursos de Protección</strong>
                                </h4>
                                <ul class="text-left">
                                    <li>Divorcios</li>
                                    <li>Separación Judicial</li>
                                    <li>Nulidad del Matrimonio</li>
                                    <li>Juicios de Alimentos</li>
                                    <li>Cuidado Personal Relación Directa y Regular</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Derecho del Consumidor</strong>
                                </h4>
                                <ul class="text-left">
                                    <li>Divorcios</li>
                                    <li>Separación Judicial</li>
                                    <li>Nulidad del Matrimonio</li>
                                    <li>Juicios de Alimentos</li>
                                    <li>Cuidado Personal Relación Directa y Regular</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

<!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services2" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>¿Por qué elegir nuestros servicios?</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="glyphicon glyphicon-check"></i>
                                </span>
                                <h4>
                                    <strong>Calidad</strong>
                                </h4>
                                <p>Abogados con sólidos conocimientos y un alto grado de responsabilidad y compromiso.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="glyphicon glyphicon-bullhorn"></i>
                                </span>
                                <h4>
                                    <strong>Lenguaje Claro</strong>
                                </h4>
                                <p>Esclarecemos sus dudas de un modo sencillo y directo. Le proporcionamos un conocimiento activo sobre sus derechos y le garantizamos una comunicación permanente con nosotros.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="glyphicon glyphicon-earphone"></i>
                                </span>
                                <h4>
                                    <strong>Atención personalizada</strong>
                                </h4>
                                <p>Sabemos que cada caso es diferente y por ello proponemos soluciones ajustadas a sus necesidades. Una relación basada en la confianza es clave en la obtención de resultados.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="glyphicon glyphicon-random"></i>
                                </span>
                                <h4>
                                    <strong>Flexibilidad</strong>
                                </h4>
                                <p>Adaptamos nuestros horarios, contamos con diversas plataformas de comunicación, ofrecemos presupuestos ajustados a sus posibilidades y damos facilidades de pago.  Estamos a su servicio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
>>>>>>> form-contact
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

<<<<<<< HEAD

=======

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Contáctanos</h2>
                    <%
                    if notice
                        %>
                        <a id="alert-contact" href="/contacts/message" data-toggle="lightbox"
                        data-width="350" data-height="100" data-title="Gracias por Contactarnos"
                        data-footer="C&B Abogados"></a>

                        <script>
                        $(document).ready(function(){
                            $('#alert-contact').click();
                        });
                        </script>
                        <%
                    end
                    %>
                    <div class="col-md-6 text-left">
                        <h3>Cuentanos tu problema y te llamaremos a la brevedad</h3>
                        <%= render 'contacts/form', contact: @contact %>
                    </div>
                    <div class="col-md-6 text-left">
                        <h3>También nos puedes contactar por lo siguientes medios</h3>
                        <p>Email: camposyballesteros@gmail.com</p>
                        <p>Teléfono: <a href="tel:+56964038183">+56 9 6403 8183</a>
                        / <a href="tel:+56957093596">+56 9 5709 3596</a></p>
                        <p>Dirección: Privendia 2454, Providencia. Santiago de Chile.</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1665.1815430191396!2d-70.6012732280658!3d-33.413777096873346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1005a082aaa9ca5a!2sCo-Work+LatAm!5e0!3m2!1ses-419!2scl!4v1495471104347" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
>>>>>>> form-contact
