<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<<<<<<< HEAD
<<<<<<< HEAD
<p>Nueva actualización de mi sitio</p>
=======
<p>Nueva actualización de mi sitio con integración continua</p>
<<<<<<< HEAD
<p>Ahora si que si 3</p>
>>>>>>> master-develop
=======
<p>Ahora si que si 4</p>
<<<<<<< HEAD
>>>>>>> master-develop
=======
<p>Nueva actualización de mi sitio con integración continua</p>
<p>Ahora si que si 4</p>
>>>>>>> master-develop
=======

<h2>Segundo titulo de la página</h2>
>>>>>>> master-develop
