<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola acaba de llegar una nueva solicitud de contacto:</h1>
    <p>Nombre: <%= @contact.name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Teléfono: <%= @contact.phone %></p>
    <p>Mensaje: <%= @contact.body %></p>
  </body>
</html>