$break-small: 319px;
$break-tablet: 766px;
$break-large: 1200px;

body {
	font-size: 14px;
	@media screen and (max-width: $break-tablet) {
		font-size: 10px;
	}
	@media screen and (max-width: $break-small) {
		font-size: 8px;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto', sans-serif;
}

.brand {
	position: absolute;
	top: 20px;
	left: 45%;
	z-index: 1;
	@media screen and (max-width: $break-tablet) {
		top: 5px;
		left: 5px;
	}
}

.text-vertical-center h1 {
	text-shadow: 1px 3px 2px #333;
	color: #FFF;
}
.text-vertical-center h3 {
	color: #FFF;
	text-shadow: 1px 3px 2px #000;
	margin: 20px 10%;
	font-weight: bold;
}
.bg-primary {
	background-color: #333;
}
.service-item i {
	font-size: 3em;
}
#footer {
    margin-top: 50px;
    border-top: 1px solid #CCC;
    padding-top: 10px;
    color: #999;
}